# Node Modules
node_modules/

# Log files
logs
*.log
npm-debug.log*

# Vue local settings
.DS_Store
/dist
.env*

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# System files
Thumbs.db
.DS_Store

# Other backups
*.bak